

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

  	<form method="POST" action="/addnote" id="add">
      <p>ADD A NOTE</p>

      Title:<br>
      <textarea rows="10" cols="90" type="text" name="title" id ="nameInput"   placeholder="Enter Title here.."></textarea><br/><br/>
      Subject:<br>
      <textarea  rows="13" cols="90" type ="text"  name="subject" id ="nameInput"   placeholder="Enter your note here.."></textarea><br/>
      <button type = "submit" id = "submit1">Add</button><br>
  	</form>

  </body>
</html>

