
@import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");



.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 35px 25px;
    text-align: center;
    font-size: 39px;
    cursor: pointer;
}

