
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  
  <body>

  	<form method="post" action="/addnote"></form>
    <h1><%= title %></h1>
    <p style="font-size:25px;">Welcome to <%= title %></p>
    <p style="font-size:25px;">"What's on your mind?"</p>
    </form>


  
      <form action="/addnote" method = "get">
    <button type="submit" class="btn btn-warning btn-lg" >GET STARTED</button>
    </form>                

  </body>
  

</html> 
