
<!DOCTYPE html>
<html>
  <head>
  
  </head>
  <body>
  	<form method="post" action="/login">
  
		username:<input type="text" name="username" id ="nameInput"><br/>
	    password:<input type ="password"  name="password" id ="passwordInput"><br/>
	   
	    <button type="submit">login</button>
	  

     </body>
</html>

