<!DOCTYPE html>
<html>
  <head>
  
  </head>
  <body>
  	<form method="post" action="/signup">
  
		username:<input type="text" name="username" id ="nameInput"><br/>
	    password:<input type ="password"  name="password" id ="passwordInput"><br/>
	    Repassword:<input type ="password"  name="repassword" id ="repasswordInput"><br/>
	    <button type="submit">signup</button>
	  

     </body>
</html>

